$content-width: 1000px;
$agf-blue: #599dd4;
$agf-dark-blue: #486379;
$text-color: #5c5c5c;

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i);
@import "~bootstrap/scss/bootstrap";
@import "header";
@import "nav";

body {
	font-family: "PT Sans", sans-serif;
	background-color: #f8f8f8;
}

.content {
	width: $content-width;
	margin-left: auto;
	margin-right: auto;
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $agf-dark-blue;
	}
	p {
		color: $text-color;
	}
}